
img{
  object-fit: cover;
}
.App {
  text-align: center;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0;
  max-height: 100svh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.section{
  flex: 1;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 0 ;
}

.logo {
  width: clamp(300px, 50%, 300px);
}

.App-main {
  max-width: 1200px;
  padding: 20px;
}

.title {
  margin-bottom: 25px;
  font-size: clamp(24px, 5vw, 56px);
  font-family: Inter, sans-serif;
  color: #035c84;
  margin-bottom: 100px;
}

.frame {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transform: translateX(2%);
  
}
.desktop {
  width: clamp(340px, 80%, 1200px);
}

@media (max-width:800px){
  button{
    margin-bottom: 50px;
  }
}

