
img{
  object-fit: cover;
}
.App {
  max-height: 100vh;
  text-align: center;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  align-items: center;
  overflow-y: hidden;
  overflow-x: hidden;

  @media (max-width:950px){
    min-height: 100vh;
  
    button{
      margin-bottom: 20px;
    }
  
    
  }
}

.section{
  flex: 1;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 0 ;
  margin-bottom: 0;
}

.logo {
  width: clamp(300px, 50%, 300px);
}

.App-main {
  max-width: 1200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}



.title {
  margin-bottom: 25px;
  font-size: clamp(24px, 5vw, 56px);
  font-family: Inter, sans-serif;
  color: #035c84;
  margin-bottom: 40px;
}

.frame {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transform: translateX(2%);
  
}
.desktop {
  width: clamp(340px, 80%, 1000px);
}

.try-button {
  transition: 500ms;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background: #00cf9d;
  box-shadow: 2px 2px 10.3px 0px rgba(107, 240, 192, 0.5);
  color: #fff;
  border: 2px solid #00cf9d;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;

  &:hover {
    background-color: transparent;
    color: #00cf9d;
  }
}



